<div class="room__messsages list" data-target="room.messages" data-begin-id="<%= messages.first&.id %>" data-reached-begin="<%= messages.empty? %>">
  <% if messages.empty? %>
    <div class="list__item">
      <div class="list__content text-align-center">
        Beginning of Room
      </div>
    </div>
  <% else %>
    <%= render partial: 'messages/message', collection: messages %>
  <% end %>
</div>
