<div id="message-<%= message.uid %>" class="list__item message">
  <div class="list__content">
    <div class="message__header">
      <%= message.user.username %>
    </div>
    <div class="message__body">
      <%= message.body %>
    </div>
  </div>
</div>
