.composer {
  padding: 16px;
}

.composer__input {
  min-height: 42px;
  margin-bottom: 8px;
}

.composer__toolbar {
  display: flex;
}

.composer__space {
  flex-grow: 1;
}

.ProseMirror {
  outline: 0;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.ProseMirror-focused {
  border-color: var(--primary-color)
}

.composer__shortcut-enter,
.composer__shortcut-ctrl-enter {
  display: none;
}

.composer[data-composer-submit-shortcut="Enter"] {
  .composer__shortcut-enter {
    display: inline-block;
  }
}

.composer[data-composer-submit-shortcut="Ctrl-Enter"] {
  .composer__shortcut-ctrl-enter {
    display: inline-block;
  }
}
