.room {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.room__messsages {
  flex-grow: 1;
  overflow: auto;
}

.room__composer {
  padding: 16px;
  border-top: 1px solid var(--border-color);
}

.editor {
}

.editor__toolbar {
  margin-top: 8px;
  display: flex;
}

.editor__space {
  flex-grow: 1;
}
