.selector__input {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--border-color);
  border-radius: 4px;

  input {
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 24px;
    padding: 4px;
    margin: 4px;
    min-width: 160px;
    flex-grow: 1;
  }

  .chip {
    margin: 4px;
  }
}

.selector__input--focus {
  border: 1px solid var(--primary-color);
}
