.selector {
  position: relative;
}

.selector__input {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--border-color);
  border-radius: 4px;

  input {
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 24px;
    padding: 4px;
    margin: 4px;
    min-width: 160px;
    flex-grow: 1;
  }

  .chip {
    margin: 4px;
  }
}

.selector__dropdown {
  display: none;
}

.selector--focus {
  .selector__input {
    border: 1px solid var(--primary-color);
  }

  .selector__dropdown {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
}

.selector .list__item {
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &.list__item--focus {
    background: rgba(0, 0, 0, 0.1);
  }
}
