@import 'campo-ui/dist/css/campo-ui';

@import 'session';

.text-align-center {
  text-align: center;
}

.button--full-width {
  width: 100%;
}

.dropdown__menu--small {
  min-width: 200px;
}

.drawer__header {
  border-bottom: 1px solid var(--border-color);
}

.drawer__item__icon {
  margin-right: 16px;

  svg {
    fill: var(--text-secondary-color);
  }
}

.app-bar {
  box-shadow: none;
  border-bottom: 1px solid var(--border-color);
}

.button--icon {
  justify-content: center;
}
