@import 'campo-ui/dist/css/campo-ui';

@import 'session';
@import 'room';
@import 'message';
@import 'composer';
@import 'selector';

.text-align-center {
  text-align: center;
}

.button--full-width {
  width: 100%;
}

.dropdown__menu--small {
  min-width: 200px;
}

.drawer__header {
  border-bottom: 1px solid var(--border-color);
}

.drawer__item__icon {
  margin-right: 16px;

  svg {
    fill: var(--text-secondary-color);
  }
}

.app-bar {
  box-shadow: none;
  border-bottom: 1px solid var(--border-color);
}

.button--icon {
  justify-content: center;
}

.button--toggle {
  background: transparent;
  border-radius: 4px;

  svg {
    fill: var(--text-secondary-color);
  }
}

.toolbar__space {
  flex-grow: 1;
}

.avatar {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.avatar--large {
  width: 80px;
  height: 80px;
}

pre {
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.05)
}

.text-secondary {
  color: var(--text-secondary-color);
}

.uploader {
  input[type="file"] {
    display: none;
  }
}

audio,
video {
  outline: 0;
}

.progress {
  position: relative;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
  margin: 8px 0;
}

.progress__bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 4px;
  background: var(--primary-color);
}

.dialog__body {
  overflow: inherit;
}
