@import 'campo-ui/dist/css/campo-ui';

@import 'session';
@import 'room';
@import 'message';
@import 'composer';

.text-align-center {
  text-align: center;
}

.button--full-width {
  width: 100%;
}

.dropdown__menu--small {
  min-width: 200px;
}

.drawer__header {
  border-bottom: 1px solid var(--border-color);
}

.drawer__item__icon {
  margin-right: 16px;

  svg {
    fill: var(--text-secondary-color);
  }
}

.app-bar {
  box-shadow: none;
  border-bottom: 1px solid var(--border-color);
}

.button--icon {
  justify-content: center;
}

.toolbar__space {
  flex-grow: 1;
}

.avatar {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.avatar--large {
  width: 80px;
  height: 80px;
}

pre {
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.05)
}
